{% extends 'base.html' %}

{% load humanize %}
{% load static %}

{% block content %}
<!-- Start Slider -->
<section id="mu-slider">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="{% static 'assets/img/slider/Hakikat-anak-SMP.jpg' %}" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Welcome To </h4>
            <span></span>
            <h2>SMP PGRI Babelan</h2>
            <p> Jl. Pertamina No 01 , Kedung Pengawas, Kec. Babelan, Kab. Bekasi Prov. Jawa Barat.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="{% static 'assets/img/slider/siswa.jpg' %}" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Premiumu Quality Free Template</h4>
            <span></span>
            <h2>Best Education Template Ever</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde
                eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="{% static 'assets/img/slider/3.jpg' %}" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Exclusivly For Education</h4>
            <span></span>
            <h2>Education For Everyone</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde
                eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
</section>
<!-- End Slider -->
<!-- Start service  -->
<section id="mu-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-service-area">
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-book"></span>
                        <h3>Fasilitas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem
                            exercitationem praesentium, est!</p>
                    </div>
                    <!-- Start single service -->
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-users"></span>
                        <h3>Daftar Guru</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem
                            exercitationem praesentium, est!</p>
                    </div>
                    <!-- Start single service -->
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-table"></span>
                        <h3>Ruang Kelas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis, deleniti dolorem
                            exercitationem praesentium, est!</p>
                    </div>
                    <!-- Start single service -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service  -->

<!-- Start about us -->
<section id="mu-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="mu-about-us-left">
                                <!-- Start Title -->
                                <div class="mu-title">
                                    <h2>Tentang Kami</h2>
                                </div>
                                <!-- End Title -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum pariatur fuga eveniet
                                    soluta aspernatur rem, nam voluptatibus voluptate voluptates sapiente, inventore.
                                    Voluptatem, maiores esse molestiae.</p>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                    <li>Saepe a minima quod iste libero rerum dicta!</li>
                                    <li>Voluptas obcaecati, iste porro fugit soluta consequuntur. Veritatis?</li>
                                    <li>Ipsam deserunt numquam ad error rem unde, omnis.</li>
                                    <li>Repellat assumenda adipisci pariatur ipsam eos similique, explicabo.</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quaerat harum
                                    facilis excepturi et? Mollitia!</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mu-about-us-right">
                                <a id="mu-abtus-video" href="https://www.youtube.com/embed/HN3pm9qYAUs"
                                    target="mutube-video">
                                    <img src="{% static 'assets/img/about-us.jpg' %}" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about us -->

<!-- Start about us counter -->
<section id="mu-abtus-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-abtus-counter-area">
                    <div class="row">
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single">
                                <span class="fa fa-book"></span>
                                <h4 class="counter">568</h4>
                                <p>Subjects</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single">
                                <span class="fa fa-users"></span>
                                <h4 class="counter">3500</h4>
                                <p>Students</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single">
                                <span class="fa fa-flask"></span>
                                <h4 class="counter">65</h4>
                                <p>Modern Lab</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                        <!-- Start counter item -->
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="mu-abtus-counter-single no-border">
                                <span class="fa fa-user-secret"></span>
                                <h4 class="counter">250</h4>
                                <p>Teachers</p>
                            </div>
                        </div>
                        <!-- End counter item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about us counter -->

<!-- Start features section -->
<section id="mu-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                        <h2>Fasilitas Kami</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia,
                            vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!
                        </p>
                    </div>
                    <!-- End Title -->
                    <!-- Start features content -->
                    <div class="mu-features-content">
                        <div class="row">
                            <div class="col-lg-4 col-md-4  col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-book"></span>
                                    <h4>Pengajar Professional</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem
                                        excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4>Expert Teachers</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem
                                        excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-laptop"></span>
                                    <h4>Online Learning</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem
                                        excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-microphone"></span>
                                    <h4>Audio Lessons</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem
                                        excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-film"></span>
                                    <h4>Video Lessons</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem
                                        excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="mu-single-feature">
                                    <span class="fa fa-certificate"></span>
                                    <h4>Professional Certificate</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non dolorem
                                        excepturi libero itaque sint labore similique maxime natus eum.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End features content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features section -->

<!-- Start latest course section -->
<section id="mu-latest-courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-latest-courses-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                        <h2>Latest Courses</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa ea maxime mollitia,
                            vitae voluptates, quod at, saepe reprehenderit totam aliquam architecto fugiat sunt animi!
                        </p>
                    </div>
                    <!-- End Title -->
                    <!-- Start latest course content -->
                    <div id="mu-latest-course-slide" class="mu-latest-courses-content">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <a href="#"><img src="{% static 'assets/img/courses/1.jpg' %}" alt="img"></a>
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#">Drawing</a>
                                        <span><i class="fa fa-clock-o"></i>90Days</span>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam
                                        modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <a class="mu-course-details" href="#">Details</a>
                                        <span class="mu-course-price" href="#">$165.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <a href="#"><img src="assets/img/courses/2.jpg" alt="img"></a>
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#">Engineering </a>
                                        <span><i class="fa fa-clock-o"></i>75Days</span>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam
                                        modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <a class="mu-course-details" href="#">Details</a>
                                        <span class="mu-course-price" href="#">$165.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <a href="#"><img src="assets/img/courses/3.jpg" alt="img"></a>
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#">Academic</a>
                                        <span><i class="fa fa-clock-o"></i>45Days</span>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam
                                        modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <a class="mu-course-details" href="#">Details</a>
                                        <span class="mu-course-price" href="#">$165.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <a href="#"><img src="assets/img/courses/1.jpg" alt="img"></a>
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#">Drawing</a>
                                        <span><i class="fa fa-clock-o"></i>90Days</span>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam
                                        modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <a class="mu-course-details" href="#">Details</a>
                                        <span class="mu-course-price" href="#">$165.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <a href="#"><img src="assets/img/courses/2.jpg" alt="img"></a>
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#">Engineering </a>
                                        <span><i class="fa fa-clock-o"></i>75Days</span>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam
                                        modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <a class="mu-course-details" href="#">Details</a>
                                        <span class="mu-course-price" href="#">$165.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="mu-latest-course-single">
                                <figure class="mu-latest-course-img">
                                    <a href="#"><img src="assets/img/courses/3.jpg" alt="img"></a>
                                    <figcaption class="mu-latest-course-imgcaption">
                                        <a href="#">Academic</a>
                                        <span><i class="fa fa-clock-o"></i>45Days</span>
                                    </figcaption>
                                </figure>
                                <div class="mu-latest-course-single-content">
                                    <h4><a href="#">Lorem ipsum dolor sit amet.</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quod nisi quisquam
                                        modi dolore, dicta obcaecati architecto quidem ullam quia.</p>
                                    <div class="mu-latest-course-single-contbottom">
                                        <a class="mu-course-details" href="#">Details</a>
                                        <span class="mu-course-price" href="#">$165.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End latest course content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End latest course section -->

<!-- Start our teacher -->
<section id="mu-our-teacher">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-our-teacher-area">
                    <!-- begain title -->
                    <div class="mu-title">
                        <h2>Guru Kami</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, repudiandae, suscipit
                            repellat minus molestiae ea.</p>
                    </div>
                    <!-- end title -->
                    <!-- begain our teacher content -->
                    <div class="mu-our-teacher-content">
                        <div class="row">
                        {% if gurus %}
                        {% for guru in gurus %}
                            <div class="col-lg-3 col-md-3  col-sm-6">
                                <div class="mu-our-teacher-single">
                                    <figure class="mu-our-teacher-img">
                                        <img src="{{guru.photo_main.url}}" alt="teacher img">
                                        <!-- <div class="mu-our-teacher-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                        </div> -->
                                    </figure>
                                    <div class="mu-ourteacher-single-content">
                                        <h4>{{guru.username}}</h4>
                                        <span>{{guru.study}}</span>
                                        <p>{{guru.description}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                    <!-- End our teacher content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End our teacher -->

<!-- Start testimonial -->
<section id="mu-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-testimonial-area">
                    <div id="mu-testimonial-slide" class="mu-testimonial-content">
                        <!-- start testimonial single item -->
                        <div class="mu-testimonial-item">
                            <div class="mu-testimonial-quote">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta
                                        aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                                </blockquote>
                            </div>
                            <div class="mu-testimonial-img">
                                <img src="{% static 'assets/img/testimonial-1.png' %}" alt="img">
                            </div>
                            <div class="mu-testimonial-info">
                                <h4>John Doe</h4>
                                <span>Happy Student</span>
                            </div>
                        </div>
                        <!-- end testimonial single item -->
                        <!-- start testimonial single item -->
                        <div class="mu-testimonial-item">
                            <div class="mu-testimonial-quote">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta
                                        aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                                </blockquote>
                            </div>
                            <div class="mu-testimonial-img">
                                <img src="assets/img/testimonial-3.png" alt="img">
                            </div>
                            <div class="mu-testimonial-info">
                                <h4>Rebaca Michel</h4>
                                <span>Happy Parent</span>
                            </div>
                        </div>
                        <!-- end testimonial single item -->
                        <!-- start testimonial single item -->
                        <div class="mu-testimonial-item">
                            <div class="mu-testimonial-quote">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta
                                        aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                                </blockquote>
                            </div>
                            <div class="mu-testimonial-img">
                                <img src="assets/img/testimonial-2.png" alt="img">
                            </div>
                            <div class="mu-testimonial-info">
                                <h4>Stev Smith</h4>
                                <span>Happy Student</span>
                            </div>
                        </div>
                        <!-- end testimonial single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial -->

{% endblock %}