{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Varsity | Home {% block title %}{% endblock %}</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">

  <!-- Font awesome -->
  <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css' %}">
  <!-- Bootstrap -->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
  <!-- Slick slider -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.css' %}">
  <!-- Fancybox slider -->
  <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.css' %}" type="text/css" media="screen" />
  <!-- Theme color -->
  <link id="switcher" href="{% static 'assets/css/theme-color/default-theme.css' %}" rel="stylesheet">

  <!-- Main style sheet -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet'
    type='text/css'>
</head>

<body>
  <!-- Top Bar -->
  {% include 'partials/_topbar.html' %}
  <!-- NavBar -->
  {% include 'partials/_navbar.html' %}
  <!-- Main Content -->
  {% block content %} {% endblock %}
  <!-- Footer -->
  {% include 'partials/_footer.html' %}

  <!-- jQuery library -->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'assets/js/bootstrap.js' %}"></script>
  <!-- Slick slider -->
  <script type="text/javascript" src="{% static 'assets/js/slick.js' %}"></script>
  <!-- Counter -->
  <script type="text/javascript" src="{% static 'assets/js/waypoints.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/js/jquery.counterup.js' %}"></script>
  <!-- Mixit slider -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.mixitup.js' %}"></script>
  <!-- Add fancyBox -->
  <script type="text/javascript" src="{% static 'assets/js/jquery.fancybox.pack.js' %}"></script>


  <!-- Custom js -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>